  .flash-sale{
    background-color: #ffc107;
    font-size: 1.7rem;
  }
.section-center-timer{
  margin-left: 20%;
  display: flex;
  width: 50rem;
  align-items: baseline;
  justify-content: space-between;
  background-color: #ffc107;
  border-radius: 30px;
}
.heading-of-ending-in{
  margin: 0 1rem 0 0;
}
  .flash-sale-end-format {
    margin-right: 1rem;
    width: 5rem;
    height: 1rem;
    margin: -1.5rem 1rem -1.5rem ;
    display: grid;
    text-align: center;
  }
  .flash-sale-end-format span {
    display: block;
    text-transform: uppercase;
    font-size: 0.85rem;
  }
   .hours-of-timer {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    letter-spacing: 2px;
  }
  .wrapper-of-timer{
    display: flex;
    align-items: baseline;
  }
  .hours-of-timer-milisecond{
    background-color: whitesmoke;
    font-size: xx-large;
    padding: 1rem;
  }

