.container {
    max-width: 400px;
    background-color: rgb(181, 181, 181);
  }
  
  .display {
    height: 70px;
    line-height: 1.5;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(141, 96, 96);
  }
  
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
  }
  
  .btn {
    border: 2px solid grey;
    text-align: center;
    line-height: 2.5;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
  }
  
  .btn:hover {
    background-color: rgb(157, 135, 135);
    color: rgb(255, 255, 255);
  }